/*AqGoes Desenvolvimento*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif
}
.banner{
    margin-top: 70px;
}
.banner, h5, p {
    color: aliceblue;
}
.banner img{
    width: 100%;
    height: 700px;
   
}
