#slide {
    width: 500px;
    overflow: hidden;
    margin: 10px auto;
    height: 333px;
    box-shadow: 0 0 8px #000;
    position: relative; }
    
    #slide img {
    position: absolute;
    z-index: 1;
    display: none;
    left: 0; }